export GOPATH=~/Developer/workspace/envoy-playground/envoy-docker/envoy-go-endpoint
export PATH=/Users/norman/Developer/tools/google-cloud-sdk/bin:/Users/norman/.gem/ruby/2.4.2/bin:/Users/norman/.rubies/ruby-2.4.2/lib/ruby/gems/2.4.0/bin:/Users/norman/.rubies/ruby-2.4.2/bin:/Users/norman/.gem/bin:/Users/norman/Developer/tools/gradle-2.10/bin:/usr/local/bin:/usr/bin:/bin:/usr/sbin:/sbin:/usr/local/go/bin:/Users/norman/sqllib/bin:/Users/norman/sqllib/adm:/Users/norman/sqllib/misc:/Users/norman/Developer/tools/cloudfoundry/spiff:/Users/norman/Developer/go/bin:/Users/norman/Developer/tools/cloudfoundry/concourse-ci/fly:/Users/norman/Developer/go/bin
